<div class="section promotions">
  <img class="decor-img rellax" data-rellax-speed="-1" src="assets/decor/decor-6.svg" alt="" style="top: 23%; right: -40px; transform: translate3d(0px, -71px, 0px) scaleX(-1);">
  <img class="decor-img rellax" data-rellax-speed="-1" src="assets/decor/decor-5.svg" alt="" style="top: 45%; left: -40px; transform: translate3d(0px, -175px, 0px) scaleX(-1);">
  <img class="decor-img rellax" data-rellax-speed="-1" src="assets/decor/decor-7.svg" alt="" style="top: 65%; right: -40px; transform: translate3d(0px, -243px, 0px);">
  <div class="spacer-sm"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 text-center">
        <div class="title title-decor h2">
          <span>Новини</span>
        </div>
      </div>
      <div class="spacer-sm"></div>
    </div>    
    <router-outlet></router-outlet>
  </div>

  <div class="row">
  <div class="col-12">
    <div class="custom-pagination">
      <ul>        
        <li *ngFor="let page of pages">
        
          <a  [routerLink]="[ '/news/page/', page.page]" routerLinkActive="active-route">
            <span>{{page.page}}</span>           
          </a>
        
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="spacer-lg"></div>
</div>


