<div class="section">
  <div class="spacer-sm"></div>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10 col-xl-8">
        <h1 class="h1 title title-decor ">
          Договір публічної оферти
        </h1>
      </div>
    </div>
    <div class="spacer-xs"></div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <div class="text text-lg">
          <p>Цей Договір публічної оферти є офіційною та публічною пропозицією укласти договір купівлі-продажу Товару, представленого в закладах (ресторанах) Продавця та/або на веб-сайті: 
            <a [routerLink]="[ '/' ]">https://mapizza.com.ua/</a>. 
            Договір є публічним, тобто відповідно до статей 633, 641, 642 Цивільного кодексу України, його умови є однаковими для всіх Покупців незалежно від їх статусу (фізична особа, юридична особа, фізична особа-підприємець) без надання переваги одному покупцю перед іншим. Факт здійснення Покупцем Замовлення в будь-якій усній та/або будь-якій електронній формі та отримання такого замовлення Продавцем є повним та безперечним прийняттям цього Договору публічної оферти та інформації, викладеної на веб-сайті: <a [routerLink]="[ '/' ]">https://mapizza.com.ua/</a>. Цей Договір публічної оферти вважається укладеним з моменту натискання кнопки «ОФОРМИТИ ЗАМОВЛЕННЯ» в розділі «Кошик» на веб-сайті:<a [routerLink]="[ '/' ]"> https://mapizza.com.ua/</a> або оформлення Замовлення через телефон і отримання Покупцем від Продавця (не залежно від форми замовлення) підтвердження Замовлення через оператора кол-центру Продавця.
          </p>
          <p><strong>1.ЗАГАЛЬНІ ПОЛОЖЕННЯ ТА ТЕРМІНИ.</strong></p>
          <p>1.1. Купівля Товарів, що представлені на Веб-сайті Продавця, передбачає згоду особи, яка купує Товар, з правилами, строками, обмеженнями та іншими умовами співпраці, викладеними в Договорі.</p>
          <p>1.2. Приймаючи умови цього Договору, Покупець підтверджує, що:
          </p>
          <ul>
            <li>інформація, що надається під час замовлення Товарів є правильною та актуальною;</li>
            <li>надана контактна інформація може бути використана з метою повідомлення про зміни в роботі, акційні пропозиції чи надання іншої інформації, пов’язаної з діяльністю Продавця.</li>
          </ul>
          <p><strong><u>Якщо Ви не погоджуєтесь з умовами цього Договору, будь ласка, не оформлюйте та не підтверджуйте Замовлення, не здійснюйте передплату за Замовлення!</u></strong>
          </p>
          <p><strong><em>Якщо Вам не зрозуміло умови цього Договору, будь ласка, зверніться з Вашим питанням до нас за електронною адресою: </em></strong><a href="mailto:%20mamaitalianopizza@gmail.com"><strong><em>mamaitalianopizza</em></strong><strong><em>@</em></strong><strong><em>gmail</em></strong><strong><em>.</em></strong><strong><em>com</em></strong></a><strong><em> або за номером телефоном +38 097 18 306 18.</em></strong></p><p>1.3. У цьому Договорі нижченаведені терміни вживаються у наступному значенні:
          </p>
          <p><strong>«Договір публічної оферти»</strong> або <strong>«Договір»</strong> — цей публічний договір, зразок якого розміщений на Веб-сайті Продавця. Договір передбачає публічну пропозицію Продавця, адресовану будь-якій фізичній особі та/або юридичній особі та/або фізичній особі-підприємцю з метою укласти договір купівлі-продажу на існуючих умовах, зазначених у Договорі.
          </p>
          <p><strong>«Товар»</strong> — перелік найменувань асортименту, представлений на Веб-сайті Продавця та/або у закладах (ресторанах) Продавця (МА Pizza).
          </p>
          <p><strong>«Продавець»</strong> — група ресторанів МА Pizza, які реалізують Товар, представлений на Веб-сайті Продавця та безпосередньо у закладах (ресторанах) МА Pizza.
          </p>
          <p><em>Юридична інформація Продавця:</em></p>
          <p>ФІЗИЧНА ОСОБА-ПІДПРИЄМЕЦЬ Блинда Назар Орестович<br>
            <em>Місцезнаходження: 79000, м. Львів, пл. Святого Юра, буд. 7.</em>
            <em></em>
          </p>
          <p></p>
          <p><strong>«Покупець»</strong> — фізична особа або фізична особа-підприємець або будь-яка інша юридична особа, що вступила в договірні відносини з Продавцем на умовах, зазначених у Договорі.</p>
          <p>
            <strong>«Замовлення»</strong> — окремі позиції з асортиментного переліку Товару, вказані Покупцем при розміщенні заявки на Веб-сайті Продавця або через оператора кол-ценру Продавця або будь-яким іншим існуючим способом.
          </p>
          <p><strong>«Послуги з доставки Товару» </strong>або<strong> «Послуги»</strong> — безпосередня передача Товару від Продавця до Покупця у місці зазначеному Покупцем та погодженим Продавцем.</p><p><em>Примітка 1: карта надання Послуг з доставки Товару та час доставки визначені на Веб-сайті Продавця.</em>
          </p>
          <p><em>Примітка 2: Послуги з доставки Товару не надаються у місця, які не зазначено на Веб-сайті Продавця, як можливі місця доставки.</em>
          </p>
          <p><strong>«Веб-сайт Продавця»</strong> — веб-сторінка Продавця, яка знаходиться в мережі Інтернет за адресою: <a [routerLink]="[ '/' ]">https://mapizza.com.ua/</a>&nbsp; та через яку Продавець здійснює продаж Товару.
          </p>
          <p><strong>«Сторони»</strong> — Продавець та Покупець разом.</p>
          <p><strong>«Сторона»</strong> — або Продавець або Покупець окремо один від одного.</p><p>&nbsp;</p><p><strong>2.ПРЕДМЕТ ДОГОВОРУ.</strong>
          </p>
          <p>2.1. Продавець здійснює продаж Покупцю обраного ним Товару відповідно до діючих цін, на момент оформлення Покупцем Замовлення та/або надає Послуги (у випадку оформлення Замовлення на суму, яка окремо встановлюється Продавцем), а Покупець зобов’язаний здійснити оплату і прийняти Товар відповідно до умов Договору.            
          </p>
          <p>2.2. Цей Договір є офіційним публічним документом, підготовленим Продавцем для здійснення належного оформлення правовідносин з метою реалізації Товару Покупцю.</p>
          <p>&nbsp;</p>
          <p><strong>3.МОМЕНТ УКЛАДАННЯ ДОГОВОРУ.</strong>
          </p>
          <p>3.1. Факт оформлення Замовлення через Веб-сайт Продавця, так і за допомогою оператора кол-центру Продавця або іншим існуючим способом, є беззаперечним прийняттям умов Договору і Покупець надалі виступає, як особа, що вступила в договірні відносини. Покупець зобов’язаний самостійно ознайомлюватися з умовами Договору, Продавець не зобов’язаний інформувати Покупця про наявність Договору.            
          </p>
          <p>3.2. Моментом вступу Покупця в договірні відносини з Продавцем вважається момент замовлення Товару, незалежно від способу замовлення (в тому числі, але не обмежуючись, особисто у закладі (ресторані) Продавця, або здійснення замовлення Товару через телефон вказаний на Веб-сайті Продавця, або з моменту натискання кнопки «ОФОРМИТИ ЗАМОВЛЕННЯ» у розділі «Кошик» через Веб-сайт Продавця) та форми оплати.</p>
          <p>3.3. Покупець самостійно та за власним бажання зв’язується з Продавцем, що означає, що Покупець ознайомився з Договором та погоджується з ним.            
          </p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>4.ПОРЯДОК ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</strong></p>
          <p>4.1. Покупець може оформити Замовлення самостійно через Веб-сайті Продавця або за номером телефону який вказано на Веб-сайті Продавця через оператора кол-центу Продавця.</p>
          <p>4.2. Замовлення приймаються Продавцем щоденно без перерви і вихідних у години роботи, які зазначені на Веб-сайті Продавця.            
          </p>
          <p>4.3. Для оформлення Замовлення через Веб-сайт Продавця Покупцю необхідно:</p>
          <p>4.3.1. обрати бажані Товари, які представлені на Веб-сайті Продавця, вибрати їх кількість, та натиснути «ЗАМОВИТИ», після чого Товар буде автоматично додано до розділу «Кошик»;</p>
          <p>4.3.2.заповнити дані у відповідній електронній формі замовлення та обрати спосіб оплати Товару;</p>
          <p>4.3.3. після перевірки правильності вибраних Товарів та введених даних натиснути «Оформити замовлення».</p>
          <p>4.4. Замовлення вважається оформленим та прийнятим до виконання Продавцем у наступних випадках:</p>
          <p>4.4.1. відразу після завершення Покупцем дій по оформленню замовлення на Веб-сайті Продавця, якщо Покупець вибрав опцію «Мені можна не телефонувати для підтвердження замовлення»;</p>
          <p>4.4.2. після завершення Покупцем дій по оформленню Замовлення на Веб-сайті, якщо Покупець не вибрав опцію описану в п.4.4.1. Договору, оператор кол-центру Продавця у телефонному режимі зв’яжеться із Покупцем, за необхідності уточнить деталі Замовлення, та підтвердить Покупцю про прийняття Замовлення в роботу;</p>
          <p>4.4.3. після здійснення Покупцем замовлення у телефонному режимі, оператор кол-центру Продавця усно підтвердить Покупцю про прийняття Замовлення в роботу.</p>
          <p>4.5. У випадку, якщо Замовлення буде оформлено Покупцем відповідно до п.4.4.1. Договору але будь-якого Товару обраного у Замовлені не буде в наявності або будуть будь-які затримки із його приготуванням або ціна будь-якого Товару буде іншою ніж ціна зазначена на Веб-сайті Продавця, оператор кол-центру Продавця зв’язується із Покупцем для уточнення Замовлення та його подальшого підтвердження або скасування.</p>
          <p>4.6. У випадку, якщо оператор кол-центру Продавця не підтвердить Покупцю про прийняття відповідного замовлення в роботу, таке замовлення вважається неоформленим та не підлягає виконанню Продавцем.</p>
          <p>4.7. У випадку якщо оператор кол-центру Продавця не зможе зв’язатися з Покупцем після оформлення ним Замовлення через Веб-сайт Продавця таке Замовлення вважатиметься не оформленим та підлягає скасуванню.</p><p>Покупець несе повну відповідальність за правильність та достовірність даних, вказаних ним при оформленні Замовлення.</p><p><strong>&nbsp;</strong></p>
          <p><strong>5.ЦІНА ТОВАРУ.</strong></p>
          <p>5.1. Ціни на Веб-сайті Продавця вказані в національній валюті України (гривні) за одиницю Товару відповідно до існуючого прейскуранта.</p>
          <p>5.2. Продавець залишає за собою право змінювати ціну Товару до моменту оформлення Замовлення без попередження Покупця.</p>
          <p>5.3. Загальна ціна Замовлення складається з суми цін за усі Товари, які зазначені у підтвердженому онлайн Замовленні або підтвердженому Замовленні оператором кол-центру Продавця, з урахуванням актуальної на час оформлення Замовлення ціни Товарів, вказаної на Веб-сайті Продавця, усіх податків та зборів, а також з ціни комплектації Замовлення.</p>
          <p>5.4. Ціни, вказані на Веб-сайті Продавця, мають ознайомчий характер.</p><p>&nbsp;</p><p><strong>6.ОПЛАТА ТОВАРУ.</strong></p>
          <p>6.1. При готівковій формі оплати Покупець зобов’язаний сплатити Продавцю повну ціну за Товар в момент його передачі Покупцю (оплата кур’єру) або безготівковим розрахунком через мобільний POS-термінал при отриманні Замовлення Покупцем через кур’єра, або шляхом внесення оплати за допомогою банківських карток на Веб-сайті Продавця, або онлайн за допомогою будь-якого іншого можливого електронного платежу, якщо домовленістю між Сторонами або Договором не передбачено інше.</p><p>6.2. Оплата Товарів, що надаються Продавцем, здійснюється в національній валюті України (гривні) відповідно до цін і тарифів, встановлених на момент купівлі Товарів.</p>
          <p>6.3. Оплата Товарів, що надаються Продавцем, здійснюється відповідно до інформації наведеної на Веб-сайті Продавця. Оплата зараховується тільки при умові дотримання порядку, опублікованого на Веб-сайті Продавця.</p>
          <p>6.4. У разі несплати, неповної оплати або несвоєчасної оплати Продавець залишає за собою право ненадання Товару, призупинення або повне невиконання взятих на себе зобов’язань і при цьому не несе відповідальності за можливі наслідки такого рішення / дій.</p>
          <p>6.5. Товари та Послуги гарантуються і надаються тільки по факту підтвердження Замовлення та отримання оплати Продавцем. До моменту отримання оплати Продавець не має ніяких зобов’язань перед Покупцем щодо Товарів замовлених Покупцем.</p>
          <p>6.6. При безготівковій формі оплати обов’язок Покупця зі сплати ціни Товару вважається виконаним з моменту зарахування відповідних грошових коштів на поточний рахунок Продавця.</p>
          <p>6.7. При безготівковій формі розрахунку Покупець зобов’язаний пред’явити менеджеру або кур’єру документ, що підтверджує факт оплати Товару, а менеджер або кур’єр повинні підтвердити факт зарахування коштів на поточний рахунок Продавця.</p>
          <p>6.8. Ціни на будь-які позиції Товару можуть бути змінені Продавцем в односторонньому порядку. У разі зміни ціни на замовлені позиції Товару до оплати Замовлення Продавець зобов’язаний у найкоротші строки повідомити Покупця про такі зміни. Покупець має право підтвердити або анулювати Замовлення. У разі відсутності зв’язку з Покупцем Замовлення вважається анульованим.</p>
          <p>&nbsp;</p><p><strong>7.ДОСТАВКА ТОВАРУ.</strong></p>
          <p>7.1. Покупець має право отримати замовлений ним Товар за допомогою самостійного вивозу (самовивіз) із закладу (ресторану) Продавця або скористатися Послугами з доставки Товару у випадку оформлення Замовлення на суму, яка встановлюється Продавцем. Товар може доставлятися Продавцем власними силами або залученими ним третіми особами. При неможливості зв’язатися з Покупцем за вказаним ним при здійсненні Замовлення номером телефону, Замовлення вважається анульованим.</p>
          <p>7.2. Самовивіз здійснюється Покупцем із закладу (ресторану) Продавця, зазначеного в Замовленні.</p>
          <p>7.3. Послуги з доставка Товару Покупцю здійснюється за погодженням із Покупцем і за вказаною ним адресою.</p>
          <p>7.4. Послуги з доставки Товару надаються виключно в межах м. Львів в час та строки, які вказані на Веб-сайті Продавця, якщо інше не передбачено попередньою домовленістю між Сторонами.</p>
          <p>7.5. У доставці Товарів можливі затримки за умови настання непередбачених обставини, що сталися не з вини Продавця.</p>
          <p>7.6. Доставка Замовлення Покупцеві здійснюється Продавцем на адресу, вказану у Замовленні.</p>
          <p>7.7. При прийнятті Замовлення, Покупець зобов’язаний перевірити Товар на відповідність Замовленому і цілісність упаковки. У разі відсутності претензій до доставленого Товару, Покупець оплачує Замовлення (якщо такий спосіб оплати був вибраний Покупцем). Оплата Товару Покупцем свідчить про те, що претензій до Товару не заявлено і Продавець повністю і належним чином виконав свій обов’язок щодо передачі Товару.</p>
          <p>&nbsp;</p>
          <p><strong>8.ПРОДАЖ ТОВАРУ ТА НАДАННЯ.</strong></p>
          <p>8.1. Задіяні технічні системи (Веб-сайт Продавця) можуть включати невиявлені технічні помилки, наслідком яких буде неможливість виконання Замовлення, придбання Товару або несвоєчасне виконання Замовлення. Крім того, до неможливості виконання Замовлення або його несвоєчасного виконання можуть призвести обставини, зумовлені людським фактором, або ж обставини непереборної сили.</p>
          <p>8.2. У разі неможливості або несвоєчасного виконання взятих на себе зобов’язань за обставин, що викладені в п. 8.1. (виключаючи обставини непереборної сили), Продавець несе відповідальність у межах сум, отриманих від Покупця, як оплата за Товари.</p>
          <p>8.3. Продавець не несе і ні за яких обставин не може нести ніякої матеріальної відповідальності, що виходить за межі сум, отриманих від Покупця, як оплата за Товари.</p>
          <p>8.4. Місцем продажу Товару є заклад громадського харчування (ресторан) Продавця.</p>
          <p>&nbsp;</p>
          <p><strong>9.ПОРЯДОК ПОВЕРНЕННЯ ТОВАРУ.</strong></p>
          <p>9.1. Покупець має право відмовитися від отриманого Товару не належної якості після його огляду в момент прийому Товару.</p>
          <p>9.2. В разі відмови від Товару неналежної якості, ціна якого була сплачена Покупцем шляхом безготівкового розрахунку, Продавець повертає кошти Покупцеві за Товар неналежної якості протягом 14 банківських днів.</p>
          <p>&nbsp;</p>
          <p><strong>10.ПРАВА ТА ОБОВ’ЯЗКИ СТОРІН.</strong></p>
          <p>10.1. Продавець зобов’язується не розголошувати будь-яку приватну інформацію Покупця і не надавати доступ до цієї інформації третім особам, за винятком випадків, передбачених чинним законодавством України.</p>
          <p>10.2. Продавець зобов’язується продавати Товар (за умови його наявності) який представлений на Веб-сайті Продавця, на умовах та в порядку визначеному у цьому Договорі.</p>
          <p>10.3. Продавець залишає за собою право невиконання Замовлення в разі виникнення форс-мажорних обставин.</p>
          <p>10.4. Продавець залишає за собою право змінювати Договір в односторонньому порядку до моменту його укладання.</p>
          <p>10.5. Продавець не несе відповідальності за неналежне використання Товарів Покупцем, замовлених через Веб-сайт Продавця.</p>
          <p>10.6. Продавець має право передати свої права та обов’язки з виконання Замовлень третім особам.</p>
          <p>10.7. Покупець зобов’язується до моменту оформлення Замовлення на Веб-сайті Продавця ознайомитися зі змістом Договору, умовами оплати і доставки Товару.</p>
          <p>10.8. Право власності на Замовлення, а також ризик його випадкового пошкодження чи втрати переходять до Покупця з моменту передачі йому Товару.</p>
          <p>&nbsp;</p>
          <p><strong>11.ВІДПОВІДАЛЬНІСТЬ СТОРІН</strong></p>
          <p>11.1. У разі невиконання або неналежного виконання своїх зобов’язань за Договором Сторони несуть відповідальність, передбачену чинним законодавством та цим Договором.</p>
          <p>11.2. Продавець не несе відповідальності за шкоду, заподіяну Покупцеві внаслідок неналежного використання придбаних ним Товарів.</p>
          <p>11.3. У випадках, не передбачених цим Договором, Сторони несуть відповідальність, встановлену чинним законодавством України.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>12.ПОРЯДОК ВИРІШЕННЯ СПОРІВ</strong></p>
          <p>12.1. Всі спори, які можуть виникнути щодо цього Договору або у зв’язку з його виконанням вирішуються Сторонами шляхом переговорів. Досудовий порядок врегулювання спору є обов’язковим.</p>
          <p>12.2. Всі спірні питання розглядаються за наявності письмової претензії, що направлена рекомендованим листом засобами поштового зв’язку.</p>
          <p>12.3. У випадку, якщо Сторони не зможуть досягти згоди по спірним питанням шляхом переговорів, ці питання підлягають вирішенню у судовому порядку згідно з діючим законодавством України.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>13.ФОРС-МАЖОРНІ ОБСТАВИНИ.</strong></p>
          <p>13.1. Сторони звільняються від відповідальності за невиконання чи неналежне виконання зобов’язань за умовами Договору на час дії обставин непереборної сили, які безпосередньо впливають на виконання Сторонами Договору. Під непереборною силою розуміються надзвичайні і непереборні за таких умов обставини, що перешкоджають виконанню своїх зобов’язань Сторонами за Договором. До них належать стихійні явища (землетруси, повені і т. ін.), обставини суспільного життя (війна, оголошення воєнного стану, проведення військових операцій, інші воєнні дії, надзвичайні стани, страйки, епідемії, пандемії тощо), заборонні заходи державних органів (заборона перевезень, валютні обмеження, міжнародні санкції, заборони на торгівлю тощо).</p>
          <p>Протягом цього часу Сторони не мають взаємних претензій і кожна зі Сторін приймає на себе свій ризик за наслідками форс-мажорних обставин.</p>
          <p>&nbsp;</p>
          <p><strong>14.ІНФОРМАЦІЯ ТА ЇЇ ВИКОРИСТАННЯ.</strong></p>
          <p>14.1. Продавець відповідно до Закону України «Про захист персональних даних» збирає та опрацьовує персональні дані Покупця (а саме: прізвище, ім’я, по батькові Покупця; адреса доставки; контактні телефони, адреса електронної пошти тощо), а Покупець дає Продавцю свою беззаперечну згоду на опрацювання та зберігання його персональних даних, з метою:</p>
          <ul>
            <li>виконання умов Договору;</li>
            <li>доставки Покупцю замовленого ним Товару.</li>
          </ul>
          <p>14.2. Здійснюючи замовлення Товару через Веб-сайт Продавця, Покупець дає згоду на збір та опрацювання такої інформації.</p>
          <p>14.3. Доступ до персональних даних Покупця мають лише особи, які безпосередньо залучені до виконання Замовлення.</p>
          <p>14.4. Продавець зобов’язується: дотримуватися конфіденційності стосовно персональних даних Покупця; не допускати спроби несанкціонованого використання персональних даних Покупця третіми особами; виключити доступ до персональних даних Покупця осіб, що не мають безпосереднього відношення до виконання Замовлення, окрім випадків, передбачених чинним законодавством України.</p>
        </div>
      </div>
    </div>
  </div>
</div>
