<div class="modal-header">
  <h4>Нова адреса</h4>          
</div> 
<form [formGroup]="authFormAddress" class="form"(ngSubmit)="addAddress()">  
  <input matInput formControlName="typeAddress" name="typeAddress" type="text"  id="typeAddress" placeholder="*Вкажіть тип адреси (наприклад, дім, робота)">                    
  <input matInput formControlName="city" name="city" type="text" id="city" placeholder="*Введіть місто">            
  <input matInput formControlName="street" name="street" type="text" id="street" placeholder="*Введіть вулицю достаки">            
  <div class="flex mobile">
    <div>
      <input matInput formControlName="house" name="house" type="text"  id="house" placeholder="*№ будинку">                    
      <input matInput formControlName="entrance" name="entrance" type="number" id="entrance" placeholder="№ під'їзду">                    
    </div>
    <div>
      <input matInput formControlName="floor" name="floor" type="number" id="floor" placeholder="Поверх">                    
    <input matInput formControlName="flat" name="flat" type="number" id="flat" placeholder="*№ квартири">            
    </div>
  </div>          
  <button [disabled]="authFormAddress.invalid" mat-raised-button color="primary"  type="submit" class="btn btn-login w-100"  mat-dialog-close>Зберегти</button>
  <!-- <div class="error-message" [class.active]="isError">Помилка входу. Невідомий користувач.</div> -->
</form>  


<button class="btn-close-modal close-popup close" mat-dialog-close data-dismiss="modal" aria-label="Close">
<span></span>
</button>