

// @font-face {
//   font-family: 'MontBlanc';
//   src: url('./../../../assets/fonts/MontBlanc-Trial-Regular.ttf');  
// }

@font-face {
  font-family: 'MontBlancBold';
  src: url('./../../../assets/fonts/MontBlanc-Trial-Bold.woff2') ; 
}

@font-face { 
  font-family: 'MontBlanc'; 
  //src: local("Mont Blanc Regular"), local("MontBlanc-Regular"), url("../fonts/MontBlanc-Regular.woff2") format("woff2"), url("../fonts/MontBlanc-Regular.woff") format("woff"); 
  //src: url('./../../../assets/fonts/MontBlanc-Trial-Regular.woff2');
  src: url('./../../../assets/fonts/MontBlanc/MontblancType-Regular.otf');
  font-weight: normal; 
  font-style: normal; 
  font-display: swap; 
}