@import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';


// *{
//     margin: 0 auto;;
//     padding: 0;
//     box-sizing: border-box;
// }


.banner-slider {
    
    & .swiper-entry{
        position: relative;
    }    

    & .swiper-entry:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/banners/bg-slide.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    display: block;
    }
}

// .about-block-wrapper, .inst-block-wrapper {
//     background: $clr-white;
//     border: 1px solid $clr-border;
//     border-radius: 30px;

//     & .decor-img {
//         position: absolute;
//         z-index: -1;

//         &.left {
//         top: -100px;
//         left: -25px;
//         }
//     }
    
// }

// .about-block-inner{
//     display: flex;
//     align-items: center;
// }

// .inst-block-inner {
//     display: flex;
//     justify-content: space-between;
// }

// .about-block-info,
// .inst-block-info {
//     padding: 25px 60px 25px 110px;
// }

// .about-block-info>*+* ,
// .inst-block-info>*+*{
//     margin-top: 15px;
// }

// .about-block-info>*:last-child:is(.butn),
// .inst-block-info>*:last-child:is(.butn) {
//     margin-top: 25px;
// }

// .about-block-img,
// .inst-block-img {
//     flex-shrink: 0;
//     position: relative;
//     overflow: hidden;
//     padding-top: 35%;
//     width: 53%;
//     border-radius: 25px;
// }

// .about-block-img img,
// .inst-block-img img {
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .accordion-item{
//     border-left: none;
//     border-right: none;
// }

// .accordion-header {
//     position: relative;
//     padding: 23px 0;
//     cursor: pointer;
//     padding-right: 60px;

//     & i {
//     display: block;
//     position: absolute;
//     top: 30px;
//     right: 21px;
//     width: 16px;
//     height: 16px;
//     border-radius: 100%;
//     border: 2px solid $clr-black;
//     transition: $transition;
//     }
// }

// .accordion-button {
//     line-height: 1.3em;
//     font-weight: 600;
//     color: $clr-black;
//     transition: $transition;
//     font-size: 18px;
// }

// .accordion-button:focus {
//     z-index: 3; 
//     border-color: $clr-white;
//     outline: 0;
//     box-shadow: none;
// }
// .accordion-button:not(.collapsed){
//     color: $clr-primary;
//     box-shadow: none;
//     background-color: $clr-white;
// }
// .accordion-button:not(.collapsed) i:before {
//     margin-top: 1px;
//     transform: translate(-50%,-50%) rotate(225deg);
// }
// .accordion-button::after{
//     opacity: 0;
// }
// .accordion-header i:before {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 6px;
//     height: 6px;
//     margin-top: -1px;
//     border-right: 2px solid $clr-black;
//     border-bottom: 2px solid $clr-black;
//     transform: translate(-50%,-50%) rotate(45deg);
//     transition: $transition;
// }

// .accordion-button:hover {
//     color: $clr-primary;
// }

// .accordion-button:hover i::before{
//         border-right-color: $clr-primary;
//         border-bottom-color: $clr-primary;
// }
// .accordion-button:hover i{
//     border-color: $clr-primary;
// }

// .seo-section .decor-img {
//     position: absolute;
//     z-index: 1;
//     max-width: 220px;
//     max-height: 220px;
// }

// .seo-section .decor-img.right {
//     bottom: 100px;
//     right: 0;
// }

// .seo-text-block .text * {
//     margin-bottom: 15px;

//     &:last-child {
//         margin-bottom: 0;
//     }
// }

// .read-more {
//     position: relative;
//     display: inline-block;
//     cursor: pointer;
//     text-transform: uppercase;
//     font-size: 14px;
//     line-height: 1.1em;
//     font-weight: 600;
//     color: $clr-secondary;
//     letter-spacing: .05em;
//     padding-right: 25px;
//     transition: $transition;
// }

// .text ul li, .text ol li {
//     position: relative;
//     padding-left: 25px;
//     color: inherit;
//     font-size: inherit;
//     margin-bottom: 15px;
// }

// .text ul li:before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 9px;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background: $clr-secondary;
// }

// div {
//   counter-reset: number;
// }
// .text ol li:before {
//     counter-increment: number;
//     content:  counter(number)".";
//     color: $clr-secondary;
//     font-size: inherit;
//     line-height: inherit;
//     font-weight: 600;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// table {
//     width: 100%;
//     border-spacing: 0;
//     border-collapse: collapse;

//     & td {
//         border: 1px solid #d1d9ce;
//         padding: 10px 15px;
//     }
// }


// .more-text.open .read-more:before {
//     transform: rotate(-45deg);
//     top: 6px;
// }

// .read-more:before {
//     content: "";
//     position: absolute;
//     top: 2px;
//     right: 6px;
//     width: 5px;
//     height: 5px;
//     border-top: 2px solid $clr-secondary;
//     border-right: 2px solid $clr-secondary;
//     transform: rotate(135deg);
//     transition: $transition;
// }

// .read-more:after {
//     content: "";
//     position: absolute;
//     top: -3px;
//     right: 0;
//     width: 17px;
//     height: 17px;
//     border: 2px solid $clr-secondary;
//     border-radius: 100%;
//     transition: $transition;
// }

// @media screen and (max-width: 1730px){
//     .about-block-info, .inst-block-info {
//         padding: 25px 40px 25px 90px;
//     }

//     .accordion-header {
//         padding: 8px 0;
//         padding-right: 40px;

//         & i {
//             top: 19px;
//         }
//     }
// }

// @media screen and  (max-width: 1400px){
//     .about-block-info, .inst-block-info {
//         padding: 15px 30px 15px 70px;
//     }

//     .about-block-img,
//     .inst-block-img {
//         width: 47%;
//     }
// }

// @media screen and (max-width: 1200px) {
//     .about-block-wrapper .decor-img,
//     .inst-block-wrapper .decor-img {
//         display: none;
//     }

//     .about-block-info, .inst-block-info {
//         padding: 0 30px 20px;
//     }

//     .about-block-info>*:last-child:is(.butn),
//     .inst-block-info>*:last-child:is(.butn) {
//         margin-top: 20px;
//     }

//     .about-block-img,
//     .inst-block-img {
//         order: -1;
//         padding-top: 57%;
//         width: 100%;
//         margin-bottom: 15px;
//     }

//     .about-block-inner, .inst-block-inner {
//         flex-direction: column;
//     }
// }

// @media screen and (max-width: 1199px){
//     .seo-section .decor-img, .seo-photo-block {
//         display: none;
//     }
// }

// @media (max-width: 767px) {
//     .about-block-info, .inst-block-info {
//         padding: 0 15px 20px;
//     }

//     .about-block-info>*:last-child:is(.butn),
//     .inst-block-info>*:last-child:is(.butn) {
//         margin-top: 15px;
//     }

//     .accordion-header {
//         padding: 20px 0;
//         padding-right: 40px;

//         & i {
//             top: 20px;
//         }
//     }

    

//     .text ul li, .text ol li {
//         padding-left: 15px;
//         margin-bottom: 5px;
//     }

//     .read-more {
//         font-size: 12px;
//         padding-right: 20px;
//     }

//     .read-more:before {
//         top: 1px;
//         right: 5px;
//     }

//     .read-more:after {
//         width: 15px;
//         height: 15px;
//     }
// }