<div class="section terms-delivery-sec">
  <div class="spacer-sm"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-xxl-8 text-center">
        <h1 class="title title-decor h1">Доставка та оплата</h1>
        <div class="spacer-xs"></div>
        <div class="text text-left text-lg">
          <p>
            МA Pizza має власну кур’єрську службу, яка займається доставкою піци по Львову. Ви можете зробити замовлення на сайті чи зателефонувати до нашого кол-центру за номером +38 (097) 18 306 18. Перевірте, будь ласка, до якої зони доставки відноситься ваша адреса, адже від цього залежить, як швидко наш кур’єр зможе доставити Ваше замовлення. Щоб отримати безкоштовну доставку від МA Pizza, потрібно зробити замовлення на мінімальну суму – 300 грн або 400 грн відповідно до зон доставки, що вказані нижче.
          </p>
        </div>
      </div>
    </div>
    <div class="spacer-xs"></div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-xxl-8">
        <div class="row terms-delivery-row justify-content-center">
          <div class="col-12 col-lg-6">
            <div class="delivery-item green-zone">
              <div class="zone-img">
                <img src="assets/delivery/green-zone-img.svg" alt="">
              </div>
              <div class="zone-info-wrapper">
                <div class="title h5">Зелена зона</div>
                <ul class="zone-info text">
                  <li>
                    Середній час доставки складає 
                    <strong> &lt; 29 хв</strong>
                  </li>
                  <li>
                    Мінімальна сума замовлення 
                    <strong> 300 грн</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="delivery-item green-zone">
              <div class="zone-img">
                <img src="assets/delivery/yellow-zone-img.svg" alt="">
              </div>
              <div class="zone-info-wrapper">
                <div class="title h5"> Жовта зона</div>
                <ul class="zone-info text">
                  <li>
                    Середній час доставки складає 
                    <strong> &lt; 59 хв</strong>
                  </li>
                  <li>
                    Мінімальна сума замовлення 
                    <strong>400 грн</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-xs"></div>
</div>

<app-map></app-map>

<div class="spacer-xs"></div>
<div class="section terms-delivery-sec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-xxl-8 text-center">
        <h1 class="title title-decor h1">Оплата</h1>
        <div class="spacer-xs"></div>
        <div class="text text-left text-lg">
          <p>Наразі MA Pizza пропонує<strong> 3 способи оплати: </strong>онлайн через сервіс LiqPay, готівкою під час отримання замовлення, карткою через термінал під час отримання замовлення. Будь ласка, завчасно попередьте нашого менеджера, який спосіб оплати&nbsp; буде для Вас зручний, якщо оплата відбуватиметься безпосередньо під час отримання доставки.
          </p>
        </div>
      </div>
    </div>
    <div class="spacer-xs"></div>
    <div class="row justify-content-center">
      <div class="col-xl-10 col-xxl-8">
        <div class="row terms-delivery-row justify-content-center">
          <div class="col-12 col-lg-6">
            <div class="payment-item">
              <div class="payment-img">
                <img src="assets/delivery/payment-img-1.svg" alt="">
              </div>
              <div class="payment-item-info">
                <div class="title h5">Готівка</div>
                <div class="text">
                  <p>Розраховуйтесь готівкою або карткою при отриманні кур’єрові</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="payment-item">
              <div class="payment-img">
                <img src="assets/delivery/payment-img-2.svg" alt="">
              </div>
              <div class="payment-item-info">
                <div class="title h5">Кур'єр з терміналом</div>
                <div class="text">
                  <p>Розраховуйтесь онлайн через сервіс LiqPay або його аналоги</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="payment-item">
              <div class="payment-img">
                <img src="assets/delivery/payment-img-3.svg" alt="">
              </div>
              <div class="payment-item-info">
                <div class="title h5">Онлайн оплата</div>
                <div class="text">
                  <p>Розраховуйтесь онлайн через сервіс LiqPay або його аналоги</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer-lg"></div>
</div>
