
<ngb-carousel>	
	<ng-template ngbSlide>		
	<div class="banner-slide">		
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">Акція 3+1!</div>
					<div class="text text-cut-5">
						<p>Замовляйте чотири піци та отримуйте одну з них безкоштовно!
							<br>							
							*акція діє з п’ятниці по неділю
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						<!-- [href]="[ 'product/pizza/' ]" -->
						<span>Замовити</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[2]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
		<button type="button" class="carousel-control-prev">
			<span aria-hidden="true" class="carousel-control-prev-icon">

			</span>
			
			<span class="visually-hidden">Previous</span>
		</button>
	</ng-template>
	<ng-template ngbSlide>
		<div class="banner-slide">
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">Акція 2+1!</div>
					<div class="text text-cut-5">
						<p>Замовляй 3 піци та отримуй одну з них безкоштовно!
							<br>
							*акція діє з понеділка по четвер
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						<span>Замовити</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[1]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
	</ng-template>		
	<ng-template ngbSlide>
		<div class="banner-slide">
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">-15% на самовивіз!</div>
					<div class="text text-cut-5">
						<p>Забирай замовлення самостійно з наших піцерій та отримуй знижку 15%!
							
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						<span>Замовити</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[0]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
	</ng-template>		
	<ng-template ngbSlide>
		<div class="banner-slide">
		<div class="row">
			<div class="col-lg-5 order-1 order-lg-0 align-self-xl-center">
				<div class="banner-content">
					<div class="banner-decor">
						<img src="assets/banners/banner-decor.svg" alt="">
					</div>
					<div class="title h1 text-cut-3">Середній час доставки 29 хв!</div>
					<div class="text text-cut-5">
						<p>*у жовту зону до 59 хв
						</p>
					</div>                                                
					<a class="butn btn-primar btn-slide" href="#pizza">
						<span>Замовити</span>
						<i></i>
					</a>
				</div>
			</div>
			<div class="col-lg-7 align-self-xl-end">
				<div class="banner-imgs picsum-img-wrapper">
					<img [src]="images[3]" alt="Random first slide" class="mx-auto imgLoaded">
				</div>
			</div>
		</div>
		</div>
	</ng-template>		
		
</ngb-carousel>
